body {
  background: lighten($backgroundBase, 12%);
  margin: 10px 0;
}

.editorWrap {
  width: 180px;
  height: 50px;
  margin: 20px;
  padding: "10px";
  background-color:#DCDCDC;
 
}

.previewWrap {
  width: 600px;
  margin: 20px;
  min-height: 200px;
  overflow-wrap: break-word;
  padding: 10px;
  background-color:#DCDCDC;
}

.toolbar {
  position: relative; 
  padding: 4px 4px 3px 3px;
  border: $default-border;
  font-family: Russo One;
  font-size: 25px;
  color: red;
}


